@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: 'Lato', sans-serif;
  background: #F8FAFD;
}
.header {
  text-align: center;
  padding:  30px;
  background:  #106900;
}
.header h1 {
  color: white;
  text-transform: uppercase;
}
.container .wast-container
{
  height:auto;
  width: 500px;
  margin:0 auto;
}
.wast-container ul {
  display: flex;
  flex-wrap: wrap;
}
.wast-item {
  list-style: none;
  border: 0.1px solid #AAAAAA;
  background: white;
  text-align: center;
  height: 90px;
  padding: 5px;
  cursor: pointer;
  overflow: wrap;
  width: 90px;
}
.wast-item-selected {
  list-style: none;
  border: 0.1px solid #AAAAAA;
  background: #33B8FF;
  text-align: center;
  height: 90px;
  padding: 5px;
  cursor: pointer;
  overflow: wrap;
  width: 90px;
}
.container .garbage {
  margin-bottom: 60px;
  text-align: center;
}
.container .garbage button {
  margin: 20px;
  background: transparent;
  border: none;
}
.container .garbage i {
  cursor: pointer;
}
.score-windows {
  background: white;
  width: 240px;
  text-align: center;
  height: 200px;
  margin-left: 80px;
  margin-top: 40px;
  padding-top: 20px;
}
.score {
  font-size: 65px;
  color: #6B27C9;
}
.details-score {
  background: white;
  height: 400px;
  padding: 30px;
  margin-top: 60px;
}